body
{
background:url(images/bg.jpg) no-repeat center top #000000;
padding:0;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:12px;
margin:0px auto auto auto;
color:#696767;
}
.circle-container {
    position: relative;
    width: 24em;
    height: 24em;
    padding: 2.8em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    border: dashed 1px;
    border-radius: 50%;
    margin: 1.75em auto 0;
}
.circle-container a {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 4em; height: 4em;
    margin: -2em;
}
.circle-container img { display: block; width: 100%; }
.deg0 { transform: translate(12em); } /* 12em = half the width of the wrapper */
.deg45 { transform: rotate(45deg) translate(12em) rotate(-45deg); }
.deg135 { transform: rotate(135deg) translate(12em) rotate(-135deg); }
.deg180 { transform: translate(-12em); }
.deg225 { transform: rotate(225deg) translate(12em) rotate(-225deg); }
.deg315 { transform: rotate(315deg) translate(12em) rotate(-315deg); }
.circle {
    border-radius: 50%/50%; 
    width: 150px;
    height: 150px;
    background: black;
}
.leftOffsetExtra
{
padding-left:100px;
}
.leftOffset
{
padding-left:50px;
}
.bannerPhoto
{
width: 819px;
padding:0px 0 7px 0;
}
p{
padding:0px 0 20px 0;
text-align:justify;
margin:0px;
line-height:17px;
}
p.tips{
padding:0px 0 7px 0;
text-align:justify;
margin:0px;
line-height:17px;
border-bottom:1px #cebf91 dashed;
}
h1{
color:#7e5025;
padding:5px 0 10px 0;
margin:0px;
font-size:19px;
font-weight:normal;
}
.tiny
{
width: 50px;
}
h2{
color:#2d7513;
padding:0px 0 5px 0;
margin:0px;
font-size:12px;
font-weight:bold;
}
a.read_more{
display:block;
color:#855f35;
float:right;
font-style:italic;
margin:5px 0 0 0;
text-decoration:none;
font-size:12px;
}
a:hover.read_more{
text-decoration:underline;
}

img.left_icon{
float:left;
padding:0px 15px 0px 0px;
}
img.right_icon{
float:right;
padding:0px 0px 0px 15px;
}
.clear{
clear:both;
}
a{
text-decoration:underline;
}
#main_container{
width:960px;
height:auto;
margin:auto;
padding:0px;
position:relative;
}
.top_leafs{
position:absolute;
top:0px;
left:11px;
z-index:200;
}
#header{
width:960px;
height:196px;
margin:0px;
padding:0px;
background:url(images/header_bg.jpg) no-repeat top center;
}
.logo{
width:290px;
text-align:center;
font-size:28px;
color:#7e5025;
float:left;
padding:110px 0 0 112px;
}
.logo a{
color:#7e5025;
text-decoration:none;
}
/*---------------- menu tab----------------------*/
.menu{
width:470px;
float:left;
padding:145px 0 0 40px;
}
.menu ul{
list-style:none;
padding:0px;
margin:0px;
}
.menu ul li{
display:inline;
}
.menu ul li a{
float:left;
border:none;
margin:0 10px 0 10px;
_margin:0 7px 0 7px;
text-decoration:none;
color:#754928;
font-size:14px;
font-weight:bold;
}
.menu ul li a:hover{
color:#754928;
border-bottom:3px #bc8d46 solid;
}
.menu ul li.selected a{
float:left;
border:none;
margin:0 10px 0 10px;
text-decoration:none;
color:#754928;
font-size:14px;
font-weight:bold;
border-bottom:3px #bc8d46 solid;
}


/*-------------center_content-------------*/
#center_content{
width:819px;
margin:auto auto 20px auto;
height:auto;
background-color:#fef8e6;
}

.center
{
margin-left:auto;
margin-right:auto;
width:70%;
background-color:#fef8e6;
}

.left_content{
width:410px;
float:left;
padding:15px 10px 10px 60px;
}
.right_content{
width:290px;
float:left;
padding:0 10px 10px 20px;
}
.bottom_content{
width:819px;
height:369px;
clear:both;
margin:auto;
background:url(images/bottom_bg.jpg) no-repeat top center;
}
.photos_block{
padding:10px 0 10px 0;
}
.photo_box{
width:114px;
height:111px;
float:left;
display:block;
text-align:center;
margin:0 18px 0 0;
position:relative;
background:url(images/photo_bg.gif) no-repeat center;
}
img.photo{
padding:6px 0 0 0;
}
a.view{
float:right;
padding:4px 6px 0 0;
text-decoration:none;
color:#706443;
}
.tip_box{
clear:both;
float:left;
width:290px;
padding:0 0 15px 0;
}
.news_box{
clear:both;
float:left;
width:290px;
padding:5px 0 5px 0;
}
.date_box{
width:47px;
height:49px;
float:left;
text-align:center;
line-height:25px;
font-weight:bold;
background:url(images/date_bg.gif) no-repeat center;
}
span.day{
color:#855f35;
}
span.month{
color:#fef8e5;
}
.news_content{
width:230px;
float:left;
padding:0 0 0 10px;
}

.about_text{
width:300px;
padding:195px 0 0 30px;
float:left;
}
.friends_list{
width:180px;
float:left;
padding:195px 0 0 30px;
}
/*----------------------list-------------------------*/
ul.list{
list-style:none;padding:0px;margin:0px; 
}
ul.list li{
list-style:none;width: auto;height: auto;padding:0 0 8px 0; margin:0px;
}
ul.list li a{
width: auto; padding:0 0 0 15px; margin:0;color:#696767;text-align:left; display:block;
text-decoration:none;background:url(images/footer_bullet.gif) no-repeat left;
}
ul.list li a:hover{
text-decoration:underline;
}
.bottom_right{
width:240px;
float:left;
text-align:center;
padding:195px 0 0 15px;
}
.bottom_right a{
padding:10px 0 10px 0;
display:block;
}

.footer{
clear:both;
width:770px;
margin:auto;
text-align:center;
padding:5px 0 0 0;
font-size:11px;
border-top:1px #cebf91 dashed;
}

/*--------------------------circle arrangement-------------*/
#divCircle { 
    width: 700px;
    height: 700px;  
    position: relative;
}
 
#divCircle img{
    position: absolute;
    width: 21%;
    height: 21%;
}
 
#middleBubble {
  text-align:center;
  vertical-align:center;
  background-color:#fef8e6;
  /*background: url(http://placekitten.com/400/400); //a "speech bubble" that will contain the text.*/
  background-repeat: no-repeat;
  background-size: cover;
  color: #252525; 
  height:35%;       
  width: 42%;   
  margin: auto;
  position: absolute;
  text-align:center;
}

.middleBubbleText {
  margin-left:auto;
  margin-right:auto;
  width:100%;
  background-color:#fef8e6;
}