/* copyright Addy Osmani, 2010. */

/*body { margin:0 auto; background-image:url('../images/bg-tile.png');}*/
.container2 { width:800px; margin:0 auto; }

.box {
    
 -moz-border-radius:300px;
-webkit-border-radius:300px;
background-position:0px 0px;
-moz-box-shadow:1px 1px 1px #FFFFFF;
-webkit-box-shadow:1px 1px 1px #FFFFFF;
background-color:blue;
position:absolute;
background-repeat:no-repeat;
border:5px solid #666666;
float:left;
height:120px;
margin:18px;
position:absolute;
width:120px;
padding:5px;

background-image:url('http://24.media.tumblr.com/e81ce86891d8f819e9b5ba5ff79afcbb/tumblr_n2liq5wM9j1qzefipo1_250.gif');
background-position:-50px 0px;
    

}

.box:hover{
     border:10px solid #111; 
     
}


.logo{
  background-image:url('http://24.media.tumblr.com/e81ce86891d8f819e9b5ba5ff79afcbb/tumblr_n2liq5wM9j1qzefipo1_250.gif');
  width:240px;
  height:105px;
  background-repeat:no-repeat;
  margin:0 auto;
  margin-top:240px;
  margin-left:260px;
  position:absolute;
}